p = Settings.copyright(default: "© Copyright {{year|2017}} | Etc", kind: :html).html_safe
  
== hancock_cache_settings "custom_footer", ns: "footer", default: '', kind: :code, label: "Дополнительный код в футере"
